@model IEnumerable<Crud_Aluno.Models.Aluno>

@{
    ViewData["Title"] = "Lista";
}

<h2>Lista</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Procurar", "Home", FormMethod.Get))
{
    <b>Procurar por :</b>
    @Html.RadioButton("ProcurarPor", "Nome", true)<text>Nome</text>
    @Html.RadioButton("ProcurarPor", "Email", true)<text>Email</text>
    <br />
    @Html.TextBox("criterio")<input type="submit" value="Procurar" />
}
        </br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Texto)
                </th*@>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "Home", new { id = item.Id }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Foto)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Texto)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        <input type="submit" value="Delete"
                               onclick="return confirm('tem Certaza em Deletar @item.Nome');" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
